@model IEnumerable<CapstoneProject.Models.UserEatery>

@{
    ViewData["Title"] = "ShowUserEateries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Eateries</h2>

<p>
    @if (User.IsInRole("Standard"))
    {
        <a asp-action="AddEatery" class="btn btn-primary">Add an eatery</a>
    }
</p>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                   <h4> @Html.DisplayNameFor(model => model.Name) </h4>
                </th>
                <th>
                    <h4> @Html.DisplayNameFor(model => model.Address) </h4>
                </th>
                <th>
                    <h4> @Html.DisplayNameFor(model => model.Description) </h4>
                </th>
                <th>
                    <h4> @Html.DisplayNameFor(model => model.IsVegan) </h4>
                </th>
                <th>
                    <h4> @Html.DisplayNameFor(model => model.IsVegetarian) </h4>
                </th>
                <th>
                    <h4> @Html.DisplayNameFor(model => model.HasVeganOptions) </h4>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                       <h5> @Html.DisplayFor(modelItem => item.Name) </h5>
                    </td>
                    <td>
                        <h5> @Html.DisplayFor(modelItem => item.Address) </h5>
                    </td>
                    <td>
                        <h5> @Html.DisplayFor(modelItem => item.Description) </h5>
                    </td>
                    <td>
                        <h5> @Html.DisplayFor(modelItem => item.IsVegan) </h5>
                    </td>
                    <td>
                        <h5> @Html.DisplayFor(modelItem => item.IsVegetarian) </h5>
                    </td>
                    <td>
                        <h5> @Html.DisplayFor(modelItem => item.HasVeganOptions) </h5>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>