@model IEnumerable<CapstoneProject.Models.Food>

@{
    ViewData["Title"] = "AllFoods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AllFoods</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IngredientsPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVegan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var base64 = Convert.ToBase64String(item.IngredientsPicture);
            var iPic = String.Format("data:image/gif;base64,{0}", base64);

            var base642 = Convert.ToBase64String(item.ProductPicture);
            var pPic = String.Format("data:image/gif;base64,{0}", base642);
            
        <tr>
            <td>
                <img src="@iPic" />
            </td>
            <td>
                <img src="@pPic" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVegan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
