@model CapstoneProject.Models.Sponsor
@{
    ViewData["Title"] = "RecommendedSocials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 style="text-align:center;padding-bottom:15px;padding-top:15px;">Recommended Socials</h2>
    @if (Model.Name == null)
    {
        <div align="center" style="padding-bottom:20px;">
            @Html.ActionLink("Feature Content Here", "GetCharge", "Social", new { }, new { @class = "btn btn-primary btn-large" })
        </div>
    }
    else
    {
       
            var base64 = Convert.ToBase64String(Model.ContentImage);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="card border-danger mb-3 text-center" style="width: 100%;padding-bottom:10px;">
                    <img class="card-img-top" src="@imgSrc" alt="Card image cap" style="width: auto; max-height:190px; margin-left:auto; margin-right:auto; display:block;">
                    <div class="card-body">                        
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="label label-pill label-success"><b>Sponsor</b></span><br /><h4>@Model.Name</h4></li>
                            <li class="list-group-item">@Model.Description</li>
                            <li class="list-group-item">
                                <a target="_blank" rel="noopener noreferrer" href="@Model.ContentUrl"
                                   class="btn btn-primary">Check it out!</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-sm-6">
            <div class="card border-danger mb-3 text-center" style="width: 100%;padding-bottom:20px;">
                <img class="card-img-top" src="~/images/youtubesmall.png" width="10%" style="padding-top:4px;" alt="Logo">
                <div class="card-body">
                    <h3 class="card-title" style="text-align:center">Youtube</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h4>Why go Vegan?</h4></li>
                        <li class="list-group-item">
                            <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=7rNY7xKyGCQ"
                               class="btn btn-primary">Dr. Greger @@Google</a>
                            <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/qOgYX6Jqhl8"
                               class="btn btn-primary">Name the Trait Argument</a>
                        </li>
                        <li class="list-group-item"><h4>Recipes</h4></li>

                        <li class="list-group-item">
                            <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCEjkioV3LO_OIUaSWRxFZ3As"
                               class="btn btn-primary">Cheap Lazy Vegan</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-danger mb-3 text-center col-md-4" style="width: 100%;padding-bottom:20px;">
                <img class="card-img-top" src="~/images/instagram2.png" width="8%" alt="Logo">
                <div class="card-body">
                    <h3 class="card-title" style="text-align:center">Instagram</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h4>Recipes</h4></li>
                        <li class="list-group-item">
                            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/bestofvegan/?hl=en" class="btn btn-primary">Best of Vegan</a>
                            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/veganrecipescom/?hl=en" class="btn btn-primary">VeganRecipesCom</a>
                        </li>
                        <li class="list-group-item"><h4>Fitness</h4></li>
                        <li class="list-group-item">
                            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/brianturnerofficial/?hl=en"
                               class="btn btn-primary">Brian Turner</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="row" d-flex align-items-stretch>
        <div class="col-sm-6">
            <div class="card border-dark mb-3 text-center" style="width: 100%;padding-bottom:20px;">
                <img class="card-img-top" src="~/images/twitter.png" width="12%" alt="Logo">
                <div class="card-body">
                    <h3 class="card-title" style="text-align:center; margin-top:0px;">Twitter</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a class="twitter-timeline" data-lang="en" data-height="400" data-theme="light" data-link-color="#2B7BB9"
                               href="https://twitter.com/nutrition_facts?ref_src=twsrc%5Etfw">Tweets by nutrition_facts</a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </li>
                        <li class="list-group-item">
                            <a class="twitter-timeline" data-lang="en" data-height="400" data-theme="light"
                               data-link-color="#2B7BB9" href="https://twitter.com/plantbasednews?ref_src=twsrc%5Etfw">Tweets by plantbasednews</a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-danger mb-3 text-center col-md-4" style="width: 100%;padding-bottom:20px;">
                <img class="card-img-top" src="~/images/websiteicon.png" width="8%" alt="Logo">
                <div class="card-body">
                    <h3 class="card-title" style="text-align:center">Websites and Forums</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h4>Social/Memes</h4></li>
                        <li class="list-group-item">
                            <a target="_blank" rel="noopener noreferrer" href="https://www.reddit.com/r/vegan/" class="btn btn-primary">Reddit</a>
                            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/veganmemesofficial/?hl=en" class="btn btn-primary">Vegan Memes Instagram</a>
                        </li>
                        <li class="list-group-item"><h4>Misc Great Sites</h4></li>
                        <li class="list-group-item">
                            <a target="_blank" rel="noopener noreferrer" href="https://www.happycow.net/"
                               class="btn btn-primary">Happy Cow</a>
                            <a target="_blank" rel="noopener noreferrer" href="https://www.vegansociety.com/go-vegan/how-go-vegan"
                               class="btn btn-primary">Vegan Society</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


