@model IEnumerable<CapstoneProject.Models.Match>
    @{
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Index</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Picture
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.recipeName)
                </th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {                

                <tr>
                    <td>
                        <a asp-action="GetRecipeAsync" asp-route-id="@item.id"><img src="@item.smallImageUrls.First()" /></a>                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.recipeName)
                    </td>                   
                    <td>
                        (ADD Link to Add to my Recipes)
                        @Html.ActionLink("Recipe Details", "GetRecipe", "Recipe", new { id = item.id }, new { @class = "btn btn-primary btn-large" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

